nav {
    width: 100%;
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    background-color: #383838;
    height: auto;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    color: gray;
    text-decoration: none;
  }
  
  nav li {
    display: inline-block;
    padding: 30px 0;
    width: 25%;
    /* text-align: center; */
  }
  
  ul {
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
  }

  #wl {
    margin: 0px 0px 0px 40px;
  }
  